@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'), local('TT-Lakes-Medium'),
    url('/assets/font/TTLakes/TTLakes-Regular/TTLakes-Regular.woff2')
      format('woff2'),
    url('/assets/font/TTLakes/TTLakes-Regular/TTLakes-Regular.woff')
      format('woff'),
    url('/assets/font/TTLakes/TTLakes-Regular/TTLakes-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'), local('TT-Lakes-Medium'),
    url('/assets/font/TTLakes/TTLakes-Medium/TTLakes-Medium.woff2')
      format('woff2'),
    url('/assets/font/TTLakes/TTLakes-Medium/TTLakes-Medium.woff')
      format('woff'),
    url('/assets/font/TTLakes/TTLakes-Medium/TTLakes-Medium.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'), local('TT-Lakes-Bold'),
    url('/assets/font/TTLakes/TTLakes-Bold/TTLakesCondensed-Bold.woff2')
      format('woff2'),
    url('/assets/font/TTLakes/TTLakes-Bold/TTLakesCondensed-Bold.woff')
      format('woff'),
    url('/assets/font/TTLakes/TTLakes-Bold/TTLakesCondensed-Bold.ttf')
      format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.body {
  background-color: #f2f2f2;
  font-family: 'TT Lakes', sans-serif;
}

.swiper-wrapper {  
  padding: 16px 0;
  min-height: 100px;
}
.swiper-slide {
  max-width: 100%;
  box-sizing: border-box;
}
.section-slides__title {
  background-color: #f8f8f8;
  border-top: 3px solid #d9fff5;
  color: #7e7e82;
  padding: 14px 16px 16px 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.swiper-slide__elem {
  border: 1px solid dashed;
  display: flex;
  min-height: 72px;
  max-width: 240px !important;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  outline: 1px solid #eaeaea;
  padding: 0 16px 0 16px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ded9d9;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.swiper__footer-button {
  display: none;
  border: none;
  margin: 24px 0 20px 37px;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease;
  border-radius: 6px;
}
.swiper__footer-button:hover,
.swiper__footer-button:focus,
.swiper__footer-button:active {
  opacity: 0.6;
  outline: 2px solid #b8ffec;
  border-radius: 6px;
  box-shadow: 0 0 15px -10px;
}
.footer-text {
  font-weight: 500;
  font-family: 'TT Lakes', sans-serif;
}
.footer-text::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  background: url(/assets/img/icon.svg) center center no-repeat;
}
.footer-text-add::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  width: 24px;
  height: 24px;
  background: url(/assets/img/icon.svg) center center no-repeat;
  transform: rotate(180deg);
}
.visually-hidden1120 {
  display: none;
}

@media (min-width: 768px) {
  .visually-hidden {
    display: none;
  }
  .swiper__footer-button {
    display: block;
  }
  .swiper {
    max-width: 100%;
    max-height: auto;
  }
  .swiper-wrapper-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 16px;
    column-gap: 24px;
    flex-wrap: wrap;
    padding: 16px 0;
    padding-left: 16px;
  }
  .swiper-slide {
    margin: 0 !important;
    max-width: 224px !important;
  }
  .swiper__footer-title {
    position: relative;
    padding: 5px 5px 5px 30px;
  }
  .add {
    display: block;
  }
}

@media (min-width: 1120px) {
  .visually-hidden {
    display: block;
  }
  .visually-hidden1120 {
    display: none;
  }
  .swiper__footer-button {
    display: block;
  }
  .add {
    display: block;
  }
}
